.main-section {
    display: flex;
    align-items: flex-end;
    background-image: url(../img/bg-1.jpg);
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__about {
        margin-top: 25px;
        margin-bottom: 35px;
        font-size: 17px;
        font-weight: 300;
        line-height: 150%;
        width: 324px;
        text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
    }
    &__social {
        display: flex;
    }
}
.drone-img {
    max-width: 660px;
    width: 100%;
    object-fit: cover;
}

.social-item {
    opacity: 0.5;
    transition: 0.4s;
    &:hover {
        opacity: 1;
    }
    &:not(:last-child) {
    margin-right: 50px;
    }
}

.main-title {
    font-size: 96px;
    line-height: 115px;
    margin-bottom: 25px;
}

.about__content {
    padding-left: 56px;
}

.section__text {
    max-width: 440px;
    width: 100%;
    font-size: 300px;
    font-size: 17px;
    line-height: 150%;
    margin-top: 55px;
}

.slider-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -143px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 560px;
        height: 300px;
        border: 4px solid #FFFFFF;
        top: -15px;
        right: -17px;
        z-index: 0;
    }
}
.about__slider {
    position: relative;
    z-index: 2;
}

.about__slides {
    width: 560px;
    height: 300px;
    display: flex;
    overflow: hidden;
}

.slider-text {
    position: absolute;
    bottom: 78px;
    left: -251px;
    max-width: 281px;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
}
.slider-nav-btns {
    display: flex;
    justify-content: flex-end;
}
.slider-btn {
    width: 60px;
    height: 48px;
    border: none;
}
.left-btn {
    background-color: #1C1C1C;
    background: url(../img/slider/arrow-left.svg) no-repeat center;
}
.right-btn {
    background: url(../img/slider/arrow-right.svg) no-repeat center;
    background-color: #fff;
}
.slider-img {
    vertical-align: bottom;
    display: none;
}
.active {
    display: block;
}

.features {
    &__list {
        margin-top: 53px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        height: 130px;
        position: relative;
        &:nth-child(even) {
            margin-top: 17px;
            margin-left: 45px;
        }
        &:nth-child(-n+2) {
            margin-bottom: 100px;
        }
        &:nth-child(3) {
            margin-left: 29px;
        }
        &:nth-child(1)::after {
            content: url(../img/lines/line-1.svg);
            position: absolute;
            right: -63px;
            top: 30px;
        }
        &:nth-child(3)::before {
            content: url(../img/lines/line-2.svg);
            position: absolute;
            right: -44px;
            top: -86px;
        }
        &:nth-child(3)::after {
            content: url(../img/lines/line-3.svg);
            position: absolute;
            right: -69px;
            top: 20px;
        }
    }
    &__num {
        font-weight: bold;
        font-size: 36px;
        line-height: 1;
        align-self: flex-end;
        margin-right: 10px;
    }
    &__img {
        margin-right: 20px;
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 195px;
            height: 130px;
            top: -12px;
            right: -12px;
            background: transparent;
            border: 2px solid #FFFFFF;
        }
    }
    &__img img {
        position: relative;
        z-index: 2;
    }
    &__text {
        max-width: 300px;
        width: 100%;
    }
    &__title {
        font-weight: bold;
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    &__desc {
        font-weight: 300;
        font-size: 15px;
        line-height: 130%;
    }
}

.specification {
    &__content {
        margin-top: 77px;
        background-image: url(../img/mavic.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__box {
        .item-1 {
            margin-bottom: 140px;
        }
        .item-3 {
            margin-bottom: 166px;
        }
    }
    &__item {
        width: 280px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
        }
    }
    &__title {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 21px;
        line-height: 28px;
    }
    &__desc {
        font-weight: 300;
        font-size: 15px;
        line-height: 130%;
    }
}

.item-1::after {
    background-image: url(../img/lines/pointer-1.svg);
    background-repeat: no-repeat;
    width: 229px;
    height: 114px;
    top: 15px;
    right: -130px;
}
.item-2::after {
    background: url(../img/lines/pointer-2.svg) no-repeat;
    width: 346px;
    height: 81px;
    top:-60px;
    right: -268px;
}
.item-3::after {
    background: url(../img/lines/pointer-3.svg) no-repeat;
    width: 258px;
    height: 103px;
    top: 16px;
    left: -276px;
}
.item-4::after {
    background: url(../img/lines/pointer-4.svg) no-repeat;
    width: 124px;
    height: 89px;
    top: -70px;
    left: -140px;
}

.dropdown-arrow {
    transition: 0.4s;
    pointer-events: none;
}

.accordion {
    margin-top: 38px;
    display: inline-block;
    &__item {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        &:last-child {
            .accordion__dropdown::after {
                content: "";
                position: absolute;
                bottom: 30px;
                right: -319px;
                width: 319px;
                height: 125px;
                background-image: url(../img/questions-drone.png);
            }
        }
        &--active {
            .accordion__answer {
                display: block;
            }
            .dropdown-arrow {
                transform: rotate(180deg);
            }
        }
    }
    &__title {
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
        padding: 20px 40px 24px 39px;
    }
    &__dropdown {
        width: 67px;
        height: 72px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        picture {
            pointer-events: none;
        }
    }
    &__text {
        opacity: 0.8;
        background: rgba(0, 0, 0, 0.3);
        width: 690px;
    }
    &__answer {
        padding-left: 50px;
        padding-right: 5px;
        padding-bottom: 75px;
        font-weight: 300;
        font-size: 15px;
        line-height: 150%;
        display: none;
        &--active {
            display: block;
            & + .dropdown-arrow {
                transform: rotate(180deg);
            }
        }
    }
}


.contacts__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts {
    &__content {
        margin-top: 38px;
    }
    &__item {
        margin-bottom: 30px;
    }
    &__city {
        font-weight: bold;
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 13px;
    }
    &__links {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        font-size: 15px;
        line-height: 130%;
    }
    &__phone {
        margin-bottom: 5px;
    }
    &__social-item {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
}

.fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
.form-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 13px;
    padding: 0;
}

.form-subtitle {
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    margin-bottom: 12px;
}

.form-input {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.95;
    border: none;
    font-size: 13px;
    line-height: 130%;
    color: #FFFFFF;
}

.name-input {
    width: 280px;
    height: 46px;
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.email-input {
    width: 280px;
    height: 46px;
    padding: 15px;
    margin-bottom: 10px;
}

.message-input {
    display: block;
    height: 144px;
    width: 100%;
    padding: 15px;
    resize: none;
}

.form-btn {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 9px 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}